@page "/"

@using PioPioBlazor.Services
@inject TwitterService TwitterService

@if (_tweets == null)
{
    <div class="lds-facebook mx-auto">
        <div class="bg-blue-300"></div><div class="bg-blue-300"></div><div class="bg-blue-300"></div>
    </div>
}
else
{
    <TweetTagFilter />

    @foreach (var tweet in _tweets)
    {
        <Tweet State="@tweet" />
    }
}

@code {
    private IEnumerable<Models.Tweet> _tweets;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // When execution reaches this point, the first *interactive* render
            // is complete. The component has an active connection to the browser.
            _tweets = await TwitterService.GetHomeTimelineTweets();
            StateHasChanged();
        }
    }
}