/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@tailwind base;

@tailwind components;

@tailwind utilities;

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Loader styles
-------------------------------------------------- */

.lds-facebook {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3) {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

/* Tag Selector styles
-------------------------------------------------- */
.uic-tag-selector {
    position: relative;
}

.uic-tag-selector__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .uic-tag-selector__box > input {
        flex: 1 1 auto;
        border: none;
        outline: none;
        width: 1px;
    }

    .uic-tag-selector__box > span > span {
        cursor: pointer;
    }

.uic-tag-selector__dropdown {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    display: none;
}

    .uic-tag-selector__dropdown:hover .uic-tag-selector__item--selected {
        background-color: initial;
    }

    .uic-tag-selector__dropdown > div {
        cursor: pointer;
    }

.uic-tag-selector--open > .uic-tag-selector__dropdown {
    display: block;
}

/* default style */
.uic-tag-selector.default {
    border: 1px solid #ccc;
}

.uic-tag-selector__box > span.default {
    background-color: #ccc;
    padding: 2px 4px;
    margin: 0 5px;
}

.uic-tag-selector__dropdown.default {
    border: 1px solid #ccc;
    background-color: #fff;
}

.uic-tag-selector__dropdown > div.default:hover {
    background-color: #ccc !important;
}

div.default.uic-tag-selector__item--selected {
    background-color: #ccc;
}

/* bootstrap style */
.uic-tag-selector.form-control {
    padding: 0.3rem;
}

.uic-tag-selector__box > span.badge {
    font-size: 0.9rem;
    margin-right: 0.3rem;
    font-weight: normal;
}

/* Blazor Specific styles
-------------------------------------------------- */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }